<!-- inherit from base.html-->
{% extends "game_review_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Game Reviews</h1>
<ul class="list-group">
    {% for review in game_reviews%}
    <li class="list-group-item">Game: {{review.game_title}}
        <p> <button onclick="location.href='{% url 'review-detail' review.id %}'" style="padding: 5px 10px; background-color: #F33A6A; color: #FFFFFF; border: none; border-radius: 10px; cursor: pointer;">See Review</button></p>

 </li>
    {% endfor %}
</ul>


{% endblock %}