{%extends 'game_review_app/base_template.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Rating</title>
</head>
<body>
    <style>
        .rating-list li {
          float: right;
          color: #ddd;
          padding: 10px 5px;
        }

        .rating-list li:hover,
        .rating-list li:hover ~ li {
          color: orange;
        }

        .rating-list {
          display: inline-block;
          list-style: none;
        }
        .checked {
            color: orange;
        }
    </style>


<h1>Game: {{ review.game_title }}</h1>
<p><strong>Rating:</strong>
    ​​<span class="fa fa-star {% if rating.rating > 0 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if rating.rating > 1 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if rating.rating > 2 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if rating.rating > 3 %} checked {% endif %}" ></span>
    <span class="fa fa-star {% if rating.rating > 4 %} checked {% endif %}"></span>
</p>


<p><strong>Summmary:</strong> {{ review.review_summary }}</p>
<p><strong>Would you recommend this game to someone?</strong> {{ review.would_recommend }} </p>
<p><strong>Tags:</strong>  {% for tag in review.tags.slugs %} {{tag}} {% endfor %}</p>
<p><strong>User:</strong> <p><a href="{% url 'user-detail' review.user.id %}"><button type="button" class="btn btn-primary">See User Profile</button></a></p>

{% endblock %}


    