.navbar{
    background-color: #ffe2e6 !important; 
    margin:0%;
    padding:0%;  
}

h2, h3, h4{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1f8a71;
}

.nav-link{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26pt;
    color: #1f8a71;
}

.nav-link:hover{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26pt;
    color: #f33c6a;
}

.list-group-horizontal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-group-item {
    background-color:#ffe2e6;
    border: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #04372b;
}

.list-group-item:hover {
    background-color:floralwhite;
}

.list-group {
    border: transparent;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    text-align: center;

}

.div.container{
    text-align: center;
    justify-content: center;
    align-items: center;
}


input {
    font-family: "Poppins" !important;
    color:#1f8a71;
}
